body {
  background-color: #ccccff;
}
a {
  display: block;
  width: 60px;
  padding: 10px 16px;
  border: 2px outset #ccc;
  background-color: #00FFFF;
	color: #000;
 }
a:hover{
    background-color: #ffffff;
    color: #000000;
}
table {
  width: 50%;
  text-align: left;
  border-collapse: collapse;
}
th {
  height: 70px;
  background-color: red;
  color: yellow;
}
tr {
  background-color: #99CCFF;
tr:nth-child(even) {background-color: #f2f2f2;}
}

tr:nth-child(even) {background-color: #99FFFF;}

h1 {
  color : red;
}
input {
  margin : 1rem;
}
